* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    position: relative;
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    margin: 0 0 0 0;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 70px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    content: center;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px)
{
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column; /* Ensure items are stacked vertically */
        align-items: center;
        position: absolute;
        top: -1000px; /* Below the navbar */
        opacity: 0;
        left: 0;
        width: 100%;
        background-color: #131313;
        z-index: -1;  /* Hidden behind other content */
        transition: all 0.5s ease-in-out; /* Smooth transition for visibility */
    }

    .navbar__menu.active {
        top: 0;
        opacity: 1;
        transition: 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-right: 500px;
    }

    .navbar__toggle {
        display: block; /* Ensures the toggle button is displayed */
        position: absolute; /* Position it at the top right corner */
        top: 20px; /* Adjust the top position */
        right: 20px; /* Adjust the right position */
        z-index: 100; /* Ensure it’s above other content */
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem ;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
    }

    .navbar__toggle .bar {
        display: block; /* Make sure the bar inside the toggle button is visible */
        width: 30px; /* Adjust the width of the toggle bars */
        height: 3px; /* Set the height of each bar */
        margin: 5px 0; /* Space between each bar */
        background-color: #fff; /* Set the color of the bars */
        transition: all 0.3s ease; /* Smooth transition on toggle */
        cursor: pointer; /* Show pointer cursor on hover */
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45);   
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45);   
    }
}